In [12]:
k = input('이름을 입력하세요')
print('당신이 입력한 이름은 <'+k+'>입니다.')

이름을 입력하세요허인행
당신이 입력한 이름은 <허인행>입니다.

In [13]:
numdata = 57
strdata = '파이썬'
listdata = [1,2,3]
dictdata = {'a':1, 'b':2}

def func():
    print('안녕하세요.')
    
print(type(numdata))
print(type(strdata))
print(type(listdata))
print(type(dictdata))
print(type(func))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'function'>

In [16]:
a = 11113
b = 23
ret = a%b            # 나눗셈에서 나머지만 구하기(%)
print('<%d>를 <%d>로 나누면 <%d>가 나머지로 남습니다.' %(a,b,ret))

<11113>를 <23>로 나누면 <4>가 나머지로 남습니다.

In [17]:
a = 11113
b = 23
ret1, ret2, = divmod(a,b)           # 몫과 나머지 구하기
print('<%d/ %d>는 몫이 <%d>, 나머지가 <%d>입니다.' %(a,b,ret1,ret2))

<11113/ 23>는 몫이 <483>, 나머지가 <4>입니다.

In [18]:
h1 = hex(97)
h2 = hex(98)
ret1 = h1 + h2
print(ret1)
a = int(h1, 16)
b = int(h2, 16)
ret2 = a+b
print(hex(ret2))

0x610x62
0xc3

In [21]:
abs1 = abs(-3)
abs2 = abs(-5.72)
abs3 = abs(3+4j)
print(abs1)
print(abs2)
print(abs3)

3
5.72
5.0

In [23]:
ret1 = round(1118)
ret2 = round(16.554)
ret3 = round(1118, -1)
ret4 = round(16.554, 2)
print(ret1)
print(ret2)
print(ret3)
print(ret4)

1118
17
1120
16.55

In [24]:
idata1 = int(-5.4)
idata2 = int(1.78e1)
idata3 = int(171.56)
print(idata1)
print(idata2)
print(idata3)

-5
17
171

In [25]:
fdata = float(10)
print(fdata)

10.0

In [34]:
def getPrime(x):
    if x%2 == 0:
        return
    
    for i in range(3, int(x/2), 2):
        if x%i == 0: 
            break
            
        else:
            return x
        
listdata = [117,119,1113,11113,11119]
ret = filter(getPrime, listdata)
print(list(ret))

[119, 11113, 11119]

In [35]:
def getPrime(n):
    ret = [2]
    if n <= 2:
        return ret
    
    for i in range(3, n+1, 2):
        for k in range(3, int(i/2), 2):
            a = i%k
            if a == 0:
                break
            else:
                ret.append(i)
    
    return ret

ret = getPrime(10)
print(ret)

[2]

In [42]:
listdata = [9.96, 1.27, 5.07, 6.45, 8.38, 9.29, 4.93, 7.73, 3.71, 0.93]
maxval = max(listdata)
minval = min(listdata)
print(maxval)
print(minval)

txt = 'Alotofthingsoccureachday'
maxval = max(txt)
minval = min(txt)
print(maxval)
print(minval)

maxval = max(2+3, 2*3, 2**3, 3**2)
minval = min('abz','a12')
print(maxval)
print(minval)

9.96
0.93
y
A
9
a12

In [43]:
a = 107
b = a&0x0f
print(b)

11

In [44]:
a = 107
b = (a>>4)&0x0f
print(b)

6

In [45]:
txt1 = "A tale that was not right"
txt2 = '이 또한 지나가리라.'
print(txt1[5])
print(txt2[-2])

e
라

In [48]:
txt1 = "A tale that was not right"
txt2 = '이 또한 지나가리라.'
print(txt1[3:7])
print(txt2[:6])
print(txt2[-4:])

ale
이 또한 지
가리라.

In [51]:
txt = 'python'
for i in range(len(txt)):
    print(txt[:i+1])

p
py
pyt
pyth
pytho
python

In [65]:
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[::2]
print(ret)

abcdefghijk

In [66]:
ret = txt[1::2]
ret

'ABCDEFGHIJK'

In [67]:
txt = 'abcdefghijk'
ret = txt[::-1]
print(ret)

kjihgfedcba

In [69]:
ret = txt[::-2]
print(ret)

kigeca

In [71]:
ret = txt[-2::-2]
print(ret)

jhfdb

In [74]:
filename = input("저장할 파일이름을 입력하세요:")
filename = filename + '.jpg'
display_msg = '당신이 저장한 파일은 <'+filename+'> 입니다.'
print(display_msg)

저장할 파일이름을 입력하세요:사진이요
당신이 저장한 파일은 <사진이요.jpg> 입니다.

In [77]:
msg1= '여러분'
msg2 = '파이팅!'
display_msg = msg1+','+msg2*3+'~!'
print(display_msg)

여러분,파이팅!파이팅!파이팅!~!

In [2]:
msg = input('임의의 문장을 입력하세요.')
if 'a' in msg:
    print('당신이 입력한 문장에는 a가 있습니다.')
else:
    print('당신이 입력한 문장에는 a가 없습니다.')

임의의 문장을 입력하세요.abc
당신이 입력한 문장에는 a가 있습니다.

In [3]:
msg = input('임의의 문장을 입력하세요:')
if 'is' in msg:
    print('당신이 입력한 문장에는 is가 있습니다.')
else:
    print('당신이 입력한 문장에는 is가 없습니다.')

임의의 문장을 입력하세요:time is money
당신이 입력한 문장에는 is가 있습니다.

In [7]:
msg = input('임의의 문장을 입력하세요')
msglen = len(msg)
print('당신이 입력한 문장의 길이는 <%d>입니다.' %msglen)

임의의 문장을 입력하세요지구는 둥글다
당신이 입력한 문장의 길이는 <7>입니다.

In [8]:
txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3PO'
ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()
print(ret1)
print(ret2)
print(ret3)
print(ret4)

True
True
False
False

In [14]:
txt1='010-1234-5678'
txt2='R2D2'
txt3='1212'
ret1=txt1.isdigit()
ret2=txt2.isdigit()
ret3=txt3.isdigit()
print(ret1)
print(ret2)
print(ret3)

False
False
True

In [16]:
txt1='안녕하세요?'
txt2='1.TItle-제목을 넣으세요'
txt3='3피오R2D2'
ret1=txt1.isalnum()
ret2=txt2.isalnum()
ret3=txt3.isalnum()
print(ret1)
print(ret2)
print(ret3)

False
False
True

In [18]:
txt = 'A lot of Things occur each day.'
ret1=txt.upper()
ret2=txt.lower()
print(ret1)
print(ret2)

A LOT OF THINGS OCCUR EACH DAY.
a lot of things occur each day.

In [ ]:
txt = '     양쪽에 공백이 있는 문자열입니다.     '
ret1 = txt.lstrip()
ret2 = txt.rstrip()
ret3 = txt.strip()
print('<'+txt+'>')
print(txt)
print('<'+ret1+'>')
print(ret1)
print('<'+ret2+'>')
print(ret2)
print('<'+ret3+'>')
print(ret3)

In [ ]:
numstr = input('숫자를 입력하세요:')
try:
    num = int(numstr)
    print('당신이 입력한 숫자는 정수<%d>입니다.'%num)
except:
    try:
        num=float(numstr)
        print('당신이 입력한 숫자는 실수<%f>입니다.'%num)
    except:
        print("+++숫자를 입력하세요~ +++")

In [1]:
num1 = 1234
num2 = 3.14

numstr1 = str(num1)
numstr2 = str(num2)
print('num1을 문자열로 변환한 값은 "%s"입니다.' %numstr1)
print('num2를 문자열로 변환한 값은 "%s"입니다.' %numstr2)

num1을 문자열로 변환한 값은 "1234"입니다.
num2를 문자열로 변환한 값은 "3.14"입니다.

In [11]:
txt = "A lot of things occur each day, every day."
word_count1 = txt.count('o')
word_count2 = txt.count('day')
word_count3 = txt.count(' ')
print(word_count1)
print(word_count2)
print(word_count3)

3
2
8

In [14]:
txt = 'A lot of things occur each day, every day.'
offset1 = txt.find('e')
offset2 = txt.find('day')
offset3 = txt.find('day',30)
print(offset1)
print(offset2)
print(offset3)

22
27
38

In [21]:
url = 'http://www.naver.com/news/today=20160831'
log='name:홍길동 age:17 sex:남자 nation:조선'

ret1 = url.split('/')
print(ret1)

ret2 = log.split()
for data in ret2:
    d1, d2 = data.split(':')
    print('%s -> %s' %(d1,d2))

['http:', '', 'www.naver.com', 'news', 'today=20160831']
name -> 홍길동
age -> 17
sex -> 남자
nation -> 조선

In [25]:
loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
bond = ';'
log = bond.join(loglist)
print(log)

2016/08/26 10:12:11;200;OK;이 또한 지나가리라

In [29]:
txt = 'My password is 1234'
ret1 = txt.replace('1','0')
ret2 = txt.replace('1','python')
print(ret1)
print(ret2)

txt = '매일 많은 일들이 일어납니다.'
ret3 = txt.replace('매일','항상')
ret4 = ret3.replace('일','사건')
print(ret3)
print(ret4)

My password is 0234
My password is python234
항상 많은 일들이 일어납니다.
항상 많은 사건들이 사건어납니다.